* {
  background-color: lightgray;
  max-width: 95vw;
  margin: auto;
}

main {
  max-width: 400px;
  max-height: 100vh;
  margin-top: 5px;
  border: 2px solid gray;
  border-style: outset;
  border-radius: 10px;
  padding: 7px;
}

button {
  width: 24%;
  height: 80px;
  font-size: 30px;
  border-radius: 50px;
  margin-top: 5px;
  box-shadow: 1px 1px 1px black;
}

#memory {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  box-shadow: 2px 1px 1px black;
}

#mainInput {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  background-color: white;
  box-shadow: 2px 1px 1px black;
}

#mainVal {
  color: black;
  background-color: white;
  text-align: right;
  padding: 8px;
  font-size: 30px;
  margin-right: 5px;
}

#memoryVal {
  background-color: white;
  text-align: right;
  padding: 20px 8px 20px 20px;
  font-size: 18px;
  color: #999;
  margin: 5px;
}

.bottomRow,
#enter {
  width: 98%;
  border-radius: 20px;
}

button:active {
  box-shadow: 2px 2px 2px blue;
  transform: translateY(1px);
}
