* {
  background-color: lightgray;
  max-width: 95vw;
  margin: auto;
}

main {
  max-width: 400px;
  max-height: 100vh;
  margin-top: 5px;
  border: 1px solid blue;
  padding: 5px;
}

button {
  width: 24%;
  height: 80px;
  font-size: 30px;
  border-radius: 50px;
  margin-top: 5px;
  box-shadow: 1px 1px 1px black;
}

#memory {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 1px 1px black;
}

#mainInput {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 1px 1px black;
}

#mainVal {
  color: black;
}

.bottomRow,
#enter {
  width: 98%;
  border-radius: 20px;
}

button:active {
  box-shadow: 2px 2px 2px blue;
  transform: translateY(1px);
}
